/* FOR CSS MODULE 
  Add border style rules that are at least 5 pixels and a color of your choice. 

*/

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: darkslategray;
}

nav {
  background-color: #054d80;
  margin: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
}

nav ul li {
  margin-right: 4em;
  list-style: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: bolder;
}
.nav-logo {
  width: 50px;
  margin-left: 2em;
  border-radius: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

.section {
  margin-top: 0px;
  padding: 3em;
}

.headers-section {
  text-align: center;
}

.hero-section,
.parent-child-section {
  background-image: linear-gradient(to bottom right, aliceblue, #01ffff);
}

.about-section {
  background-image: linear-gradient(to bottom right, aliceblue, lightpink);
}

.hero-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  padding: 5em;
  justify-content: space-between;
}

.hero-header {
  padding-top: 2em;
  margin-top: 0px;
}

.text-wrapper {
  width: 50%;
}

.form-wrapper {
  padding: 2em;
  background-color: white;
  border-radius: 10px;
}

button {
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
  background-color: white;
  text-transform: uppercase;
}

.about-img-wrapper img {
  width: 75%;
  border-radius: 5px;
}

.about-img-wrapper {
  width: 50%;
}

.about-wrapper {
  display: flex;
  padding: 8em 4em;
  width: 80%;
  margin: 0 auto;
}

.gallery-section img {
  width: 300px;
  border-radius: 5px;
  max-height: 200px;
  margin: 0.5rem;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em 4em;
  width: 80%;
  margin: 1.5em auto;
}

.gallery-text-wrapper {
  text-align: center;
  margin-top: 5em;
}

.section-header {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1em;
  margin-top: 0px;
  font-weight: bolder;
}

.awards-section {
  background-image: linear-gradient(to bottom right, aliceblue, lightpink);
  height: 800px;
}

.awards-section-text {
  text-align: center;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 2em 4em;
}
.awards-section div {
  width: 80%;
}
.award-img {
  width: 400px;
  z-index: 100;
  position: relative;
  top: 150px;
  right: 75px;
  border-radius: 10px;
}

.list-wrapper {
  background-color: #e9f8ff;
  font-size: 1em;
  padding: 2em;
  border-radius: 10px;
  position: relative;
  left: 100px;
}

.right-content-box li {
  margin-top: 1em;
}

.list-header {
  /* text-align: center; */
  font-size: 1.5em;
  margin-top: 0px;
}

.list-header a {
  text-decoration: underline;
}

/* STEPS SECTION */
.parent-child-section {
  text-align: center;
  padding: 10em 5em;
}
.steps-card {
  width: 150px;
  text-align: center;
  background-color: #f1f1f8;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps-card h1 {
  font-size: 1.5em;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5em auto;
  flex-wrap: wrap;
}

/* CERTIFICATION PROCESS */
.certification-process-wrapper {
  width: 30%;
  margin: 10em auto;
  background-color: #aec7fe;
  padding: 5em;
  opacity: 0.8;
  border-radius: 10px;
}

.certification-process-wrapper li {
  font-size: 1.2em;
  margin-top: 1em;
}
.certification-process-wrapper ol {
  font-size: 1.2em;
  margin-top: 2em;
}

/* FOOTER */
.buttons-section {
  background-color: #f1f1f8;
  padding: 2em;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
